* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: rgb(236, 253, 255);
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .privateIcon {
      font-size: 20px;
      display: none;
    }
    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 40px;
        li {
          a {
            text-decoration: none;
            font-size: 17px;
            font-family: $font;
          }
        }
      }
    }
    .icons {
      width: 10%;
      display: flex;
      justify-content: space-between;
      i {
        font-size: 17px;
      }
    }
  }
}

#sofa {
  width: 100%;
  height: 100vh;
  background-color: rgb(236, 253, 255);
  position: relative;
  .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 200px;
    .left {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h1 {
        font-family: $font;
        font-size: 66px;
        line-height: 72px;
        font-weight: 700;
      }
      p {
        font-family: $font;
        font-size: 15px;
        line-height: 27px;
        font-weight: 300;
      }
      button {
        width: 50%;
        padding: 18px 0;
        border: none;
        background-color: #ff3368;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 500;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: rgb(255, 65, 59);
        }
      }
    }
    .right {
      width: auto;
    }
  }
}
#awesome {
  width: 100%;
  margin-top: 32px;
  .container {
    width: 85%;
    margin: 0 auto;
    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-family: $font;
          font-size: 34px;
          line-height: 40px;
          font-weight: 700;
        }
        span {
          color: rgb(173, 173, 173);
          font-family: $font;
          font-size: 20px;
          line-height: 27px;
          font-weight: 700;
        }
      }
      .right {
        width: 20%;
        button {
          padding: 10px 20px;
          border: none;
          background-color: white;
          font-weight: 700;
        }
        .borderLeft {
          border-right: 1px solid black;
        }
      }
    }
    .bottom {
      width: 100%;
      margin-top: 28px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      .card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 23%;
        height: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
          background: #fff;
          border-radius: 12px;
          box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
          transform: scale(1.05);
          .yazi {
            .btn {
              opacity: 1;
            }
          }
        }
        .img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .yazi {
          width: 90%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          gap: 10px;
          h3 {
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            font-family: $font;
          }
          span {
            font-size: 18px;
            line-height: 22px;
            font-weight: 300;
            font-family: $font;
          }
          .btn {
            width: 100%;
            opacity: 0;
            display: flex;
            justify-content: space-between;
            button {
              border: none;
              background-color: white;
              font-size: 20px;
              color: #ff3368;
            }
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
#discount {
  width: 100%;
  background-color: rgb(236, 253, 255);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .photo {
      width: 100%;
      img {
        width: 60%;
      }
    }
    .yazi {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        font-family: $font;
        font-size: 50px;
        line-height: 70px;
        font-weight: 700;
      }
      .form {
        display: flex;
        justify-content: space-around;
        form {
          width: 50%;
          input {
            padding: 20px 33%;
            border: none;
          }
        }
        button {
          padding: 18px 25px;
          border: none;
          background-color: #ff3368;
          color: #fff;
          font-family: $font;
        }
      }
    }
  }
}
#photo {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  .container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    .color {
      color: black;
      display: flex;
    }
    img {
      width: 15%;
      height: auto;
      margin: 20px;
    }
  }
}
footer {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  .container {
    width: 90%;
    margin: 0 auto;
    .top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .products {
        width: 18%;
        h5 {
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
          font-family: $font;
        }
        a {
          text-decoration: none;
          display: block;
          padding: 8px 0;
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          font-family: $font;
          color: grey;
          &:hover {
            color: #ff3368;
          }
        }
      }
      .Newletter {
        width: 18%;
        h5 {
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
          font-family: $font;
          display: block;
        }
        p {
          padding: 8px 0;
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          font-family: $font;
          color: grey;
        }
        .form {
          display: flex;
          justify-content: space-around;
          form {
            width: 100%;
            input {
              padding: 20px 33%;
            }
          }
          button {
            padding: 18px 25px;
            border: none;
            background-color: #ff3368;
            color: #fff;
            font-family: $font;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
      p {
        padding: 8px 0;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        font-family: $font;
        color: grey;
      }
      i{
         color: grey;
         &:hover{
            color: #ff3368;
         }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  header {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      .privateIcon {
        display: block;
      }
      nav {
        display: none;
      }
      .icons {
        width: 25%;
      }
    }
  }
  #sofa {
    width: 100%;
    height: auto;
    .container {
      width: 90%;
      height: auto;
      position: static;
      .left {
        width: 100%;
        height: auto;
        h1 {
          font-size: 20px;
          line-height: 25px;
          font-weight: 700;
        }
      }
      .right {
        display: none;
      }
    }
  }
  #awesome {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      .top {
        width: 100%;
        height: auto;
        .left {
          width: 50%;
          h2 {
            font-size: 20px;
          }
          span {
            font-size: 13px;
          }
        }
        .right {
          width: 30%;

          button {
            font-weight: 300;
            display: flex;
          }
          .borderLeft {
            border-bottom: 1px solid black;
            border-right: none;
          }
        }
      }
      .bottom {
        width: 100%;
        height: auto;
        .card {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  #discount {
    width: 100%;
    .container {
      display: block;
      width: 100%;
      height: auto;
      .photo {
        width: 100%;
      }
      .yazi {
        h2 {
          font-size: 26px;
          line-height: 28px;
        }
        .form {
          width: 100%;
        }
      }
    }
  }
  #photo {
    width: 100%;
    .container {
      width: 95%;
      .photo {
        width: 100%;
        flex-wrap: wrap;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      .privateIcon {
        display: block;
      }
      nav {
        display: none;
      }
      .icons {
        width: 25%;
      }
    }
  }
  #sofa {
    width: 100%;
    height: auto;
    .container {
      width: 90%;
      height: auto;
      position: static;
      .left {
        width: 100%;
        height: auto;
        h1 {
          font-size: 20px;
          line-height: 25px;
          font-weight: 700;
        }
      }
      .right {
        display: none;
      }
    }
  }
  #awesome {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      .top {
        width: 100%;
        height: auto;
        .left {
          width: 50%;
          h2 {
            font-size: 20px;
          }
          span {
            font-size: 13px;
          }
        }
        .right {
          width: 30%;

          button {
            font-weight: 300;
            display: flex;
          }
          .borderLeft {
            border-bottom: 1px solid black;
            border-right: none;
          }
        }
      }
      .bottom {
        width: 100%;
        height: auto;
        .card {
          width: 45%;
          height: auto;
        }
      }
    }
  }
  #discount {
    width: 100%;
    .container {
      display: block;
      width: 100%;
      height: auto;
      .photo {
        width: 100%;
      }
      .yazi {
        h2 {
          font-size: 26px;
          line-height: 28px;
        }
        .form {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  header {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      .privateIcon {
        display: block;
      }
      nav {
        display: none;
      }
      .icons {
        width: 25%;
      }
    }
  }
  #sofa {
    width: 100%;
    height: auto;
    .container {
      width: 90%;
      height: auto;
      position: static;
      .left {
        width: 100%;
        height: auto;
        h1 {
          font-size: 20px;
          line-height: 25px;
          font-weight: 700;
        }
      }
      .right {
        display: none;
      }
    }
  }
  #awesome {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      .top {
        width: 100%;
        height: auto;
        .left {
          width: 50%;
          h2 {
            font-size: 20px;
          }
          span {
            font-size: 13px;
          }
        }
        .right {
          width: 30%;

          button {
            font-weight: 300;
            display: flex;
          }
          .borderLeft {
            border-bottom: 1px solid black;
            border-right: none;
          }
        }
      }
      .bottom {
        width: 100%;
        height: auto;
        .card {
          width: 30%;
          height: auto;
        }
      }
    }
  }
  #discount {
    width: 100%;
    .container {
      display: block;
      width: 100%;
      height: auto;
      .photo {
        width: 100%;
      }
      .yazi {
        h2 {
          font-size: 26px;
          line-height: 28px;
        }
        .form {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  header {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      .privateIcon {
        display: block;
      }
      nav {
        display: none;
      }
      .icons {
        width: 25%;
      }
    }
  }
  #sofa {
    width: 100%;
    height: auto;
    .container {
      width: 90%;
      height: auto;
      position: static;
      .left {
        width: 100%;
        height: auto;
        h1 {
          font-size: 20px;
          line-height: 25px;
          font-weight: 700;
        }
      }
      .right {
        display: none;
      }
    }
  }
  #awesome {
    width: 100%;
    height: auto;
    .container {
      width: 100%;
      height: auto;
      .top {
        width: 100%;
        height: auto;
        .left {
          width: 50%;
          h2 {
            font-size: 20px;
          }
          span {
            font-size: 13px;
          }
        }
        .right {
          width: 30%;

          button {
            font-weight: 300;
            display: flex;
          }
          .borderLeft {
            border-bottom: 1px solid black;
            border-right: none;
          }
        }
      }
      .bottom {
        width: 100%;
        height: auto;
        .card {
          width: 23%;
          height: auto;
        }
      }
    }
  }
  #discount {
    width: 100%;
    .container {
      display: block;
      width: 100%;
      height: auto;
      .photo {
        width: 100%;
      }
      .yazi {
        h2 {
          font-size: 26px;
          line-height: 28px;
        }
        .form {
          width: 100%;
        }
      }
    }
  }
}
